[Unit]
Description=VS CORE local monitor (optional)
After=vs-server.service

[Service]
Type=simple
ExecStart=/opt/vs/SERVER/MONITOR_SERVER
Restart=on-failure

[Install]
WantedBy=multi-user.target
